.material-icons.md-36 {
    font-size: 36px;
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    vertical-align: bottom;
    line-height: 43px;
}
.material-icons.top-left{
    top: -30px;
    left: -30px;
    cursor: nw-resize;
}
.material-icons.top-right{
    top: -30px;
    right: -30px;
    cursor: ne-resize;
}
.material-icons.bottom-left{
    bottom: -30px;
    left: -30px;
    cursor: sw-resize;
}
.material-icons.bottom-right{
    bottom: -30px;
    right: -30px;
    cursor: se-resize;
}
.material-icons.border-icon{
    color: #880000;
    position: absolute;
}
.selector{
    border-width: 5px;
    border-style: dashed;
    z-index: 10;
    height: 100px;
    width:100px;
    position: absolute;
    border-color: #880000;
    cursor: crosshair;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
